.div {
  display: flex;
  background-color: darkslategray;
  width: 100%;
  justify-content: center;
}
.div > a {
  width: 80px;
  height: auto;
  color: darkslategray;
  background-color: beige;
  border: 2px solid darkgreen;
  border-radius: 20%;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center;
  vertical-align: middle;
}
